In [4]:
num=int(input())
print(num)
if num>0:
    print('positive')

55
positive

In [7]:
num=int(input())
print(num)
if num>1 and num<5:
    print('hello world')

3
hello world

In [11]:
num=int(input())
print(num)
if num%3==0:
    print('fizz')

18
fizz

In [22]:
num=int(input())
print(num)
if num%2==0 and num%6==0:
    print(complex(num))

18
(18+0j)

In [42]:
num=int(input())
print(num)
num2=list((str)(num))
if num%3==0 or num%5==0:
    print(num2)

25
['2', '5']

In [52]:
num=int(input())
print(num)
if num%5==0:
    print('multiple by 5')

10
multiple by 5

In [54]:
num=int(input())
print(num)
if num==0:
    print('zero')

0
zero

In [56]:
num=int(input())
print(num)
if num<0:
    print('negative')

-2
negative

In [62]:
num=int(input())
print(num)
num2=list((str)(num))
if num%2==0:
    print('even',(num2))

10
even ['1', '0']

In [3]:
num=int(input())
print(num)
num2=tuple((str)(num))
if num%2==1:
    print('odd',(num2))

15
odd ('1', '5')

In [69]:
num=int(input())
print(num)
if num%2==0:
    print(num**4)

12
20736

In [95]:
num=int(input())
print(num)
num1=num+5
if (num>=0 or num<=0)  :
    print(num1)

15
20

In [96]:
num=int(input())
print(num)
if num%5==0 and num%7==0:
    print(num**2)

35
1225

In [30]:
num=int(input())
print(num)
num1=num%10
num2=num1>>2
if num1>5:
    print(num2)

125478
2

In [8]:
num=int(input())
print(num)
if num%3==0 and num<30:
    print(num**2)

66

In [11]:
num=int(input())
print(num)
if num%4==0 and num%2==0:
    print(num**3)

16
4096

In [17]:
num=int(input())
print(num)
num1=list((str)(num))
if num%2==0:
    print(num1)

56
['5', '6']

In [43]:
num=int(input())
print(num)
num1=num%10
if num<0 or num%2==0:
    print(num1)

26
6

In [51]:
num=int(input())
print(num)
if num<0 and num%2==1 and  num%4==0:
    print(num**3)

24
13824

In [31]:
av=int(input())
print(av)
if av%4==0 and av%2==0:
    print(chr(av))

76
L

In [8]:
num=int(input())
print(num)
if (num>45 and num<125) and (num%4==0 and num%5==0) and (num%2==0):
    print(chr(num))

80
P

In [54]:
num=int(input())
print(num)
if ((num>25 and num<100) and (num%4==0 and num%5==0)):
    print(num*5)

24

In [56]:
num=15
print(num)
num1=int(num)
if ((num>0 or num<0) and (num%2==1)):
    print(num1%5)

15
0

In [45]:
num=int(input())
print(num)
num2=list(str(num))
if num>0 or num<0:
    print(num2)

2587412369
['2', '5', '8', '7', '4', '1', '2', '3', '6', '9']

In [54]:
num=int(input())
ch=('shiva')
ch1=len(ch)//2
if num<125 and num>60:
    print(ch[ch1])

i

In [62]:
num1=int(input())
num2=int(input())
print(num1,num2)
if num1==num2:
    print(num1+num2)

45 45
90

In [55]:
num1=int(input())
num2=int(input())
num4=(num1*num2)/3 
if num1==num2:
    print(num4)

8.333333333333334

In [58]:
ch=input()
if (ch>='A' and ch<='Z') or (ch>='a' and ch<='z'):
    ch1=ord(ch)
    d={ch:ch1}
    print(d)

{'H': 72}

In [2]:
ch=input()
if (ch>='A' and ch<='Z') :
    ch1=ord(ch)
    d={ch:ch1}
    print(d)

{'A': 65}

In [14]:
ch=input()
ch1=ord(ch)+32
ch2=chr(ch1)
if (ch>='A' and ch<='Z'): 
    print({ch1:ch2})

{97: 'a'}

In [15]:
ch=input()
if ch>='a' and ch<='z':
    print(ch*3)

aaa

In [73]:
num=int(input())
ch=ord(num)
if  num>='0' and num<='9':
    print(ch)

TypeError: ord() expected string of length 1, but int found

In [44]:
ch=input()
if ((ch!='A' and ch!='Z') and (ch!='a' and  num!='z') and (ch!='0' and ch!='9')):
    print(ch)
    print(ord(ch))

$
36

In [48]:
ch=input()
ch1=ord(ch)
if ch1%2==0:
    print(ch)
    print(ch1)
    print('even num')

B
66
even num

In [52]:
a=int(input())
b=int(input())
if a==10 or b==10 or a+b==10:
    print(a+b)
    print((a+b)**2)

20
400

In [55]:
ch=input()
print(ch)
ch1=ord(ch)
ch2=chr(ch1+1)
if ch in ('aeiouAEIOU'):
    print(ch2)

A
B

In [57]:
ch=input()
print(ch)
ch1=ord(ch)
ch2=chr(ch1-1)
if ch not in ('aeiouAEIOU'):
    print(ch2)

b
a

In [79]:
a=1
print(a)
if type(a) in [int,float,bool,complex]:
    print('single value data type')

1
single value data type

In [80]:
a='abc'
if type(a) in [str,tuple,set,dict] :
    print(a)
    print(tuple(a))

abc
('a', 'b', 'c')

In [93]:
a=input()
if type(a) in [str,tuple,int,float,bool]:
    print(set(a))

{'5', '2'}

In [101]:
num=list(input())
num2=len(num)
num3=num2//2
if num3%2==1:
    print(num)
    print('odd')

['1', '2', '3', '6', '5', '4']
odd

In [ ]:
st=input()
if st[0]==

In [110]:
a='a'
b='a'
if a is b:
    print(id(a),id(b))

140705008157568 140705008157568

In [117]:
st=input()
st1=len(st)
st3=st(st1)
if st1%2==0:
    st2=st3[0] and st3[-1] and st3[-2]
    print(st2)

TypeError: 'str' object is not callable

In [120]:
st1=input()
st2=input()
if st1==st2:
    st1==st2
    st2==st1
    print(st1,st2)

shiva shiva

In [133]:
ch=input()
if not ((ch>='A' and ch<='Z') or (ch>='a' and  num<='z') or (ch>='0' and ch<='9')):
    ch1=ord(ch)
    d={ch:ch1}
    print(d)

{'$': 36}

In [149]:
d=4
dict={1:123}
if d is not dict:
    dict[d]='1234'
    print(dict)

{1: 123, 4: '1234'}

In [ ]:
48 no

In [154]:
num=int(input())
num1=num%10
if num1==2:
    print(num)
    print(num1,'is a last digit')

5462
2 is a last digit

In [158]:
a=int(input())
b=int(input())
if a==10 or b==10 or a+b==10:
    print(a+b)
    print((a+b)**2)

10
100

In [ ]:
51 no

In [161]:
st=input()
st1=input()
if st != st1:
    print(st,len(st))
    print(st1,len(st1))

shiva  6
lucky 5