In [1]:
a=26
b=4
print(a%b)

2

In [4]:
num=819
num=num//10
print(num)

81

In [6]:
a=8735459
b=a//10
print(b)

873545

In [7]:
a=2764564
b=a%10
print(b)

4

In [8]:
num=65487920
num1=num%10
print(num1)

0

In [13]:
num1=2435
digit=86
num=(num1*100)+digit
print(num)

243586

RELATIONAL OPERATORS

In [15]:
a=59
b=39
print(a>b)

True

In [20]:
st1='shiva'
st2='kumar'
print(st1>st2)

True

In [29]:
l1=[5,6,8,9]
l2=[5,6,8,9]
print(l1>=l2)

True

In [57]:
set={7,3,7,8}
set1={7,3,7,8,}
print(set<=set1)

True

In [77]:
a=60.034
b=9.85
print(a<b)

False

In [78]:
str1='shiva'
str2='shiva kumar'
print(str1<str2)

True

In [63]:
str1='raja'
str2='raja'
print(str1<str2)

False

In [64]:
l1=[1234]
l2=[9876]
print(l1<l2)

True

In [65]:
l1=[3,'shiva']
l2=[3,'shiva kumar']
print(l1<l2)

True

In [72]:
set={1}
set1={1,9,}
print(set<set1)

True

In [75]:
set={1,5,4,3}
set1={5,3,6,7,8}
print(set<set1)

False

In [81]:
bin(25374833)

'0b1100000110011000001110001'

In [89]:
ord('+')

43

In [90]:
chr(43)

'+'

In [92]:
str1='Developer'
str2='d'
print(str1<str2)

True

In [95]:
a=24
b=23
print(a!=b)

True

In [1]:
num=45
print(num>10)

True

In [3]:
num=52
res=num%2==0
print(res)

True

In [8]:
num=9
res=num%2==0 and num>40 and num<70
print(res)

False

In [10]:
num=100
res=num>97 and num%2==0
print(res)

True

In [12]:
num=80
res=num<122 and num>48 and num%4==0
print(res)

True

In [2]:
num=15
res=num%5==0 and num%3==0
print(res)

True

In [4]:
chr='R'
res=chr>='A' and chr<='Z'
print(res)

True

In [31]:
chr='b'
res=chr>='a' and chr<='z' and ord(chr) 
res1=res%2==0
print(res1)

True

In [34]:
num=6
res=num>=0 and num<=9 
print(res)

True

In [38]:
num=88
res=num>60 and num<130 and num%2==0 and num%4==0 and num%10>6
print(res)

True

In [ ]:
or operator

In [39]:
num=20
res=num>25 or num<50
print(res)

True

In [44]:
num=15
res=num%3==0 or num%8==0
print(res)

True

In [49]:
num=25
res=num%3==0 or num>10
print(res)

True

In [52]:
chr='a'
res=(chr>='A' and chr<='Z') or (chr>='a' and chr<='z')
print(res)

True

In [59]:
chr='5'
res=(chr>='A' and chr<='Z') or (chr>='a' and chr<='z') or (chr>='0' and chr<='9')
print(res)

True

In [63]:
str=('shiva')
chr1=str[0]
chr2=str[-1]
res=chr1>chr2 or ord(chr1)%3==0
print(res)

True

In [1]:
print(not(True))

False

In [3]:
num=266
res=not(num%5==0)
print(res)

True

In [4]:
num=234
res=not(num<34)
print(res)

True

In [11]:
digit=5
res=not(digit>=0 and digit<=9)
print(res)

False

MEMBERSHIP OPERATOR

In [12]:
print(1 in 'hero1')

TypeError: 'in <string>' requires string as left operand, not int

In [14]:
print('1' in 'hero1')

True

In [18]:
l1=[1,2,3,4,[5]]
print([5] in l1)

True

In [20]:
l1=[1,2,3,4,[5]]
print(5 in l1)

False

In [21]:
str='shiva'
chr='sa'
print(chr in str)

False

In [23]:
str='shiva'
chr='sh'
print(chr in str)

True

In [28]:
l1=[1,2,3,4,5],[6]
l2=[6]
print(l2 in l1)

True

In [35]:
l1=[1,2,3,4,5],[7]
l2=[5]
print(l2 in l1)

False

In [36]:
set={1,2,3,4,5}
print(1 in set)

True

In [37]:
set={1,2,3,4,5}
print(6 in set)

False

In [44]:
d={'car':'volvo','colour':'black'}
res=('black' in d) 
print(res)

False

In [45]:
d={'car':'volvo','colour':'black'}
res=('car' in d) 
print(res)

True

In [47]:
print('1' not in 'shiva' )

True

In [48]:
print('s' not in 'lucky')

True

In [49]:
l1=[1,2,3,4,5]
l2=[6]
res=(l2 not in l1)
print(res)

True

In [54]:
set1={1,2,3,4,5}
set={5}
print(set not in set1)

True

In [62]:
set1={1,2,3,4,5,6}
set2={6}
print(set2 not in set1)

True

ASSIGNMENT OPERATORS

In [63]:
a+=10

NameError: name 'a' is not defined

In [64]:
a=10
a+=2
print(a)

12

In [65]:
a=1234
a%=10          #print last digit
print(a)

4

In [66]:
a=127
a//=10
print(a)       #remove the last digit

12

In [67]:
l1=[1,2,3,4,5]
l1+=10,30
print(l1)

[1, 2, 3, 4, 5, 10, 30]

In [70]:
l1=2
l1**=3
print(l1)

8

In [71]:
l1=30
l1/=6
print(l1)

5.0

In [72]:
l1=45
l1-=5
print(l1)

40

In [83]:
l1=[1,2,3,4,5]
l1-=[1,]
print(l1)

TypeError: unsupported operand type(s) for -=: 'list' and 'list'

In [84]:
num=26
num*=2
print(num)

52

In [91]:
num=1234
num*=12
print(num)

14808

In [92]:
num=4536
num*=12-2
print(num)

45360

In [100]:
num=2
num*=2*66
print(num)

264

In [101]:
a=10
b=10
print(a is b)

True

In [105]:
num=234
num1=26
print( num1 is num)

False

In [108]:
str='shiva'
str1='shiva'
print(str1 is str)

True

In [109]:
t=(123)
t1=(123)
print(t1 is t)

True

In [111]:
a={26}
b={26}
print(b is a)

False

In [112]:
a=10
b=24
print(id(a))
print(id(b))
print(a is b)

140733399618632
140733399619080
False

In [113]:
a=10
b=10
print(id(a))
print(id(b))
print(a is b)

140733399618632
140733399618632
True

In [114]:
a=10
b=10
print(id(a))
print(id(b))
print(a is not b)

140733399618632
140733399618632
False

In [115]:
a=10
b=34
print(id(a))
print(id(b))
print(a is not b)

140733399618632
140733399619400
True

In [116]:
num=23
num1=89
print(num is not num1)

True

In [117]:
num=90
num1=90
print(num is not num1)

False

In [121]:
chr1=('shiva')
chr2=('shiva')
print(chr1 is not chr2)

False

In [122]:
chr1=('shiva')
chr2=('shva')
print(chr1 is not chr2)

True

In [1]:
set={40}
set1={40}
print(set is set1)

False

In [1]:
print('shiva')

shiva