In [1]:
a=26
b=4
print(a%b)

2

In [4]:
num=819
num=num//10
print(num)

81

In [6]:
a=8735459
b=a//10
print(b)

873545

In [7]:
a=2764564
b=a%10
print(b)

4

In [8]:
num=65487920
num1=num%10
print(num1)

0

In [13]:
num1=2435
digit=86
num=(num1*100)+digit
print(num)

243586

In [15]:
a=59
b=39
print(a>b)

True

In [20]:
st1='shiva'
st2='kumar'
print(st1>st2)

True

In [29]:
l1=[5,6,8,9]
l2=[5,6,8,9]
print(l1>=l2)

True

In [57]:
set={7,3,7,8}
set1={7,3,7,8,}
print(set<=set1)

True

In [77]:
a=60.034
b=9.85
print(a<b)

False

In [78]:
str1='shiva'
str2='shiva kumar'
print(str1<str2)

True

In [63]:
str1='raja'
str2='raja'
print(str1<str2)

False

In [64]:
l1=[1234]
l2=[9876]
print(l1<l2)

True

In [65]:
l1=[3,'shiva']
l2=[3,'shiva kumar']
print(l1<l2)

True

In [72]:
set={1}
set1={1,9,}
print(set<set1)

True

In [75]:
set={1,5,4,3}
set1={5,3,6,7,8}
print(set<set1)

False

In [81]:
bin(25374833)

'0b1100000110011000001110001'

In [89]:
ord('+')

43

In [90]:
chr(43)

'+'

In [92]:
str1='Developer'
str2='d'
print(str1<str2)

True

In [95]:
a=24
b=23
print(a!=b)

True

In [1]:
num=45
print(num>10)

True

In [3]:
num=52
res=num%2==0
print(res)

True

In [8]:
num=9
res=num%2==0 and num>40 and num<70
print(res)

False

In [10]:
num=100
res=num>97 and num%2==0
print(res)

True

In [12]:
num=80
res=num<122 and num>48 and num%4==0
print(res)

True

In [2]:
num=15
res=num%5==0 and num%3==0
print(res)

True

In [4]:
chr='R'
res=chr>='A' and chr<='Z'
print(res)

True

In [31]:
chr='b'
res=chr>='a' and chr<='z' and ord(chr) 
res1=res%2==0
print(res1)

True

In [34]:
num=6
res=num>=0 and num<=9 
print(res)

True

In [38]:
num=88
res=num>60 and num<130 and num%2==0 and num%4==0 and num%10>6
print(res)

True

In [ ]:
or operator

In [39]:
num=20
res=num>25 or num<50
print(res)

True

In [44]:
num=15
res=num%3==0 or num%8==0
print(res)

True

In [49]:
num=25
res=num%3==0 or num>10
print(res)

True

In [ ]:
chr='A'
res=(chr<='A' and chr>='Z') or (chr<='a' and chr>='z')
print()