In [40]:
l=[1,2,3,'jack sparow','wayne rooney','manchester city']
print(l[0:2])
print(str(l[2:4]))
print(str(l[4][0:5]))
print(str(l[5][10:]))
print(str(l[5:3:-1]))
print(str(l[2::-1]))
print(str(l[4::-2]))
print(str(l[5:2:-2]))
print((l[3][5:8]))
print(l[4][6:9])
print(l[5][14:10:-1])
print(l[3][:4])
print(l[3][:4:3])
print(l[4][6::2])
a=l[3][5:8:2]
b=l[3][9:]
print(a+b)
print(l[3][::-1])

[1, 2]
[3, 'jack sparow']
wayne
 city
['manchester city', 'wayne rooney']
[3, 2, 1]
['wayne rooney', 3, 1]
['manchester city', 'jack sparow']
spa
roo
ytic
jack
jk
roe
saow
woraps kcaj

WITH OUT STEP

In [12]:
st='Ramanujan'
print(st[:])
print(st[:4])
print(st[6:])
print(st[6:3])
print(st[-4:5])
print(st[-4:6])
print(st[-4:-1])
print(st[-7:-1])
print(st[:3])
print(st[3:-1])
print(st[-8:-3])

Ramanujan
Rama
jan


u
uja
manuja
Ram
anuja
amanu

WITH STEP

In [21]:
st='Ramanujan'
print(st[::-2])
print(st[:4:3])
print(st[6:4:-1])
print(st[-7:4:2])
print(st[::-3])
print(st[::4])
print(st[:5:1])
print(st[5::-1])

njnmR
Ra
ju
m
num
Rnn
Raman
unamaR

In [39]:
l=["jordan","willblake", [300,200,40,"james willson"] ,{1:{'name':'meason mount','age':24,'club':'chelsea'}}]
print(l[0][:3])
print(l[1][:4])
print(l[2][3][:5])
print(l[2][2::-1])
print(l[3][1])
print(l[3][1]['name'][7:])
print(list(l[3][1]))
print(l[3][1]['club'])
print(str(l[3][1]['age'])[::-1])
print(l[2][0]+l[2][1]+l[2][2])
print(list(l[3][1])[2:0:-1])

jor
will
james
[40, 200, 300]
{'name': 'meason mount', 'age': 24, 'club': 'chelsea'}
mount
['name', 'age', 'club']
chelsea
42
540
['club', 'age']

In [15]:
d={1:['oneplus','apple'],2:{'name1':'venugopal','name2':'Amaresh'},'a':'anaconda'}
print(d[1][0])
print(d[1][1])
print(d[2]['name1'][:4])
print(d[2]['name1'][4:])
print(d[2]['name2'])
print(d['a'])
print(d[1][1][::-1])
print(d[1][0][6:2:-1])
print(d[1][::-1])
print(d['a'][:3])
print(d[2]['name2'][3:])
print(d[2]['name1'][8:5:-1])
print(d[1][1][1:3])
print(d[2]['name2'][6:3:-1])
print(d[1][0] + d[1][1])
print(d[2]['name1'][:4] + d[2]['name2'][3:])

oneplus
apple
venu
gopal
Amaresh
anaconda
elppa
sulp
['apple', 'oneplus']
ana
resh
lap
pp
hse
oneplusapple
venuresh